{% extends 'base.html' %}
{% block title %}Visualizations{% endblock %}
{% block content %}
<div class="container">
    <h1>Visualizations</h1>
    <h2>Service Type Distribution</h2>
    <div id="service-type-chart"></div>
    <h2>Business Model Distribution</h2>
    <div id="business-model-chart"></div>
    <script>
        var graph1 = {{ graph1_json | safe }};
        Plotly.newPlot('service-type-chart', graph1.data, graph1.layout);
        var graph2 = {{ graph2_json | safe }};
        Plotly.newPlot('business-model-chart', graph2.data, graph2.layout);
    </script>
</div>
{% endblock %}